<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCHBXH.Properties.Settings.ShowroomAudiConnectionString"
            connectionString="Data Source=DESKTOP-S3R3QDL;Initial Catalog=ShowroomAudi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>